<!-- <div class="container">
	<div class="row">
		<div class="span4 offset4 well background_color">
			<%#= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= f.error_notification %>
			  <legend>Resend confirmation instructions</legend>
			    <%#= f.input :email, :required => true, input_html: { class: 'span4' }, :placeholder => "Email" %>
			    <%#= f.button :submit, "Resend confirmation instructions" %>
			  
			<%# end %>

			<%#= render "devise/shared/links" %>
		</div>
	</div>
</div> -->

<div class="signin_container">
<h1 class="login_heading">Resend confirmation instructions</h1>
<div class="form_container">
	<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= f.error_notification %>
			    <%= f.input :email, :required => true, label: false, input_html: { class: 'input_styling' }, :placeholder => "Email" %>
			    <%= f.button :submit, "Resend confirmation instructions", :class => "btn btn-info signin_btn" %>
			  
			<% end %>

</div>
</div>
</div>