<div class="signin_container">
<h1 class="login_heading signup_heading">Sign Up</h1>
<div class="form_container">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form_margin'}) do |f| %>
          <%= f.error_notification %>

              <%= link_to "login facebook", user_omniauth_authorize_path(:facebook), :class => "register_facebook" %>
              <%= f.input :email, :required => true, :autofocus => true, label: false, input_html: { class: 'input_styling' }, :placeholder => "Email" %>
              <%= f.input :password, :required => true, label: false, input_html: { class: 'input_styling password_background' }, :placeholder => "Password" %>
              <%= f.input :password_confirmation, :required => true, label: false, input_html: { class: 'input_styling password_background' }, :placeholder => "Password Confirmation" %>
            <%= f.button :submit, "Sign up", :class => "btn btn-info signin_btn" %>
            <div class="dont_have">
            You have an account 
        <%= link_to "Log In", new_session_path(resource_name) %>
      </div>
        <% end %>

  </div>
</div>