<div class="managebar_list">

  <div class= "link_edit">
    <%= link_to bar_box.name, edit_user_bar_path( @user, bar_box) %>
  </div>
  <div class="btn-group">
    <%= link_to_for_visibility( bar_box, 'on' ) %>
    <%= link_to_for_visibility( bar_box, 'off' ) %>
  </div>

  <%= link_to "Show Embed", embed_code_user_bar_path( @user, bar_box ), :class => "btn embed", remote: true %>

  <%= link_to "Delete", user_bar_path( @user, bar_box ), :class => "embed delete", method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
