<%= simple_form_for(@bar) do |f| %>
  <%= f.error_notification %>

 <div class="row">
        <div class="hero-unit newbar_alignment">
              <h1>New Bar</h1>
              <p class="tagline">Thank you for visiting out little slice of the internet. If you would like to get into contact with our team simply fill out the nifty form below. Cheers!</p>
        </div><!--end hero unit -->
    <section class="span6 mrgn_lft">
            <div class="control-group">

              <div class="controls">
                <%= f.input :name, input_html: { class: 'input-xxlarge' }, :placeholder => "Bar name" %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                 <%= f.input :message, :input_html => { maxlength: '70',  class: 'input-xxlarge' }, :placeholder => "Message should not be more than 70 characters."  %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <%= f.input :link, input_html: { class: 'input-xxlarge' }, :placeholder => "Text of your link" %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <%= f.input :link_url, input_html: { class: 'input-xxlarge' }, :placeholder => "ex. www.google.com" %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <%= f.input :text_color, input_html: { class: 'colorpicker input-xxlarge' }, label: 'Bar text color', :placeholder => "Select Text color" %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <%= f.input :bg_color, input_html: { class: 'colorpicker input-xxlarge' }, label: 'Bar background color',:placeholder => "Select Background Color" %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                 <%= f.input :link_text_color, input_html: { class: 'colorpicker input-xxlarge' }, :placeholder => "Select Link Text Color" %>
              </div>
            </div>

             <div class="control-group">
              <div class="controls">
                 <%= f.input :link_bg_color, input_html: { class: 'colorpicker input-xxlarge' }, label: 'Link background color', :placeholder => "Select Link Background Color" %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                 <%= f.input :active, label: false, :inline_label => 'Active' if( f.object.persisted? ) %>
                 <%= f.button :submit, :class => "btn btn-info" %>
                 <%= link_to 'Back', bars_path, :class => "btn btn btn-info" %>
              </div>
            </div>


    </section><!-- end left -->

        <section class="span6">
          <div class="well nwbar_txt_bckgrnd">
             <h3>New Bar</h3>
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div><!--end well -->
        </section><!--end right -->
      </div>
<% end %>

 <%= javascript_tag "$('.colorpicker').colorpicker()" %>


