<%= simple_form_for(@bar) do |f| %>
  <%= f.error_notification %>
<div class="row well">
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :message, :input_html => { maxlength: '70' }, :hint => 'Not more than 70 characters.' %>
    <%= f.input :link %>
    <%= f.input :link_url %>
    <%= f.input :text_color, input_html: { class: 'colorpicker' } %>
    <%= f.input :bg_color, input_html: { class: 'colorpicker' } %>
    <%= f.input :link_text_color, input_html: { class: 'colorpicker' } %>
    <%= f.input :link_bg_color, input_html: { class: 'colorpicker' } %>
    <%= f.input :active %>
  </div>
</div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

 <%= javascript_tag "$('.colorpicker').colorpicker()" %>