<%= simple_form_for( [ @user, @bar ] ) do |f| %>
  <%= f.error_notification %>
  
<div class="title">
	<h1>Title</h1>
	 <%= f.input :name, input_html: { class: 'title_input_width' }, :placeholder => "My first Navigator Bar", label: false %>
	 <p>Preview</p>
	 <div class="preview_container">
	 	<div class="nav_preview">
	 		<p class="message">Hello type your message below</p>
	 		<%= link_to "Try it out", "#", :class => 	"message_link" %>
	 	</div>
	</div>
</div><!-- title -->

<div class="message_container">
	<div class="nav_changes">
		<%= f.input :message, :input_html => { maxlength: '70',  class: 'message_textbox' }, :placeholder => "Hello type your message below. ", label: 'Message Under 85 characters recommended'  %>
		<div class="link_text">
		<%= f.input :link, input_html: { class: 'nav_linktext' }, :placeholder => "Link", label: 'Link Text' %>
		</div>
		<div class="link_url">
		 <%= f.input :link_url, input_html: { class: 'nav_linkurl' }, :placeholder => "ex. www.google.com" %>
		</div>

	</div><!-- nav_changes -->

	<div class="custom_theme">
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">Themes</a></li>
		    <li><a href="#tab2" data-toggle="tab">Custom</a></li>
		  </ul>
		  
		  <div class="tab-content">
		    <div class="tab-pane active" id="tab1">
		      <div class="fontstyle_container">
		      	<p>Font Style  
		      			<select>
				          <option>Serif</option>
				          <option>Arial</option>
				          <option>Calibri</option>
				          <option>Helvetica</option>
				        </select>

		      	</p>
		      		<p class="default_theme">Default Theme</p>
		      		<%= link_to "Red", "#", :class => "defaultred" %>
		      		<%= link_to "Blue", "#", :class => "defaultred defaultblue" %>
		      		<%= link_to "Cheers", "#", :class => "defaultred defaultcheers" %>
		      		<%= link_to "London Frog", "#", :class => "defaultred defaultfrog" %>

		      </div>
		    </div>
		    <div class="tab-pane" id="tab2">
		      <div class="fontstyle_container">
		      	<p>Font Style  
		      			<select>
				          <option>Serif</option>
				          <option>Arial</option>
				          <option>Calibri</option>
				          <option>Helvetica</option>
				        </select>
		      	</p>
		      </div><!-- fontstyle_container -->
		      <div class="custom_coloroption">
		      	custom
		      </div>

		    </div>
		  </div>
		</div>
	</div>
</div><!-- message_container -->
<% end %>
