 <div class="stats_notification">
 We've implemented a new enhancement in the way that Navigarot Bar Impressions are calculated. Impressions are now Visits and are unique per session. This means that impressions are tracked more like users than page loads. If you'd like to know more, check out our blog post detailing the change to see how it affects these stats.
</div>
<h3 class="show_date">
Stats for: <small> Jan 12th 2013 – Feb 12th 2013</small>
</h3>
<div class="days_btn">
            <div id="time-ranges">
                <%= link_to '1 Day', user_bars_path( @user, days: 1), remote: true, onclick: 'timeRangesClick(this)' %>
                <%= link_to '7 Days', user_bars_path( @user, days: 7), remote: true, onclick: 'timeRangesClick(this)' %>
                <%= link_to '30 Days', user_bars_path( @user, days: 30), remote: true, onclick: 'timeRangesClick(this)', disabled: 'true' %>
            </div>
</div>


            <div class="navbar">
              <div class="navbar-inner statsnav_background">
                <ul class="nav">
                    <li>
                        <%= link_to "Name", "#" %>
                    </li>
                </ul>

                <ul class="nav pull-right">
                    <li><a href="#">Visits</a></li>
                    <li><a href="#">Hits</a></li>
                    <li><a href="#">Hit Rate</a></li>

                </ul>
            </div>
            <div id="stat-boxes">
                <%= render partial: 'stat_box', collection: @bars %>
            </div>

        </div>
