<div class="bars_background">

<p id="notice"><%= notice %></p>

<div class="showdetails_leftcontainer">

  <div class="showdetailedit_background">
  <b>Name:</b>
    <%= @bar.name %>
  </div>

  <div class="showdetailedit_background">
    <b>Message:</b>
    <%= @bar.message %>
  </div>

  <div class="showdetailedit_background">
    <b>Link:</b>
    <%= @bar.link %>
  </div>

  <div class="showdetailedit_background">
    <b>Link url:</b>
    <%= @bar.link_url %>
  </div>

  <div class="showdetailedit_background">
    <b>Message text color:</b>
    <%= @bar.text_color %>
  </div>

  <div class="showdetailedit_background">
    <b>Background color:</b>
    <%= @bar.bg_color %>
  </div>

  <div class="showdetailedit_background">
    <b>Link text color:</b>
    <%= @bar.link_text_color %>
  </div>

  <div class="showdetailedit_background">
    <b>Link background color:</b>
    <%= @bar.link_bg_color %>
  </div>

  <div class="showdetailedit_background">
    <b>Active:</b>
    <%= @bar.active %>
  </div>

  <div class="showdetailedit_background">
  <%= link_to 'Edit', edit_user_bar_path(@user, @bar), :class => "btn btn-info" %>
  <%= link_to 'Back', user_bars_path( @user ), :class => "btn btn-info" %>
  </div>
</div><!-- showdetails_leftcontainer -->

<div class="showdetails_rightcontainer">
  <h3>Embed Code</h3>
  <%=text_area_tag( "code", ( render partial: "embedding", object: @bar),:disabled => true, rows: "12", class: "input-block-level popup_txtarea_background") %>
</div><!-- showdetails_rightcontainer -->
<br style="clear:both;" >
</div><!-- bars_background -->