<div class="container">
	<div class="row">
		<div class="span12">
	
<section>
	<div class="container">
		<div class="wlcm_txt_wrapper">
			<h1 class="heading_padding">Welcome to Fizzy Bar !</h1>
			<p class="wlcm_txt_deatils">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
			</p>
		</div>
	</div><!-- container -->
</section>
	

	<section>
	<div class="container">
		<div class="features">
			<h1 class="features_heading">How it works</h1>
			<div class="row show-grid">
              <div class="span4">
              	<div class="thumbnail">
										<a href="#" class="thumbnail">
				              <%= image_tag ("/assets/stepone.png") %>
				             </a>
										</div>
              </div>
              <div class="span7">
              	<div class="media-body">
				                <h3 class="media-heading">Step One</h3>
				                <h4 class="media-heading">Create and craft Your Fizzy Bar</h4>
				                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				              </div>
              </div>
      </div>
		</div><!-- features -->
	</div><!-- container -->
</section>



<section>
	<div class="container">
		<div class="features">
			
			<div class="row show-grid">
              <div class="span4">
              	<div class="thumbnail">
										<a href="#" class="thumbnail">
				              <%= image_tag ("/assets/four.png") %>
				             </a>
										</div>
              </div>
              <div class="span7">
              	<div class="media-body">
				                <h3 class="media-heading">Step Two</h3>
				                <h4 class="media-heading">Embed your code</h4>
				                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				              </div>
              </div>
      </div>
		</div><!-- features -->
	</div><!-- container -->
</section>



<section>
	<div class="container">
		<div class="features">
			
			<div class="row show-grid">
              <div class="span4">
              	<div class="thumbnail">
										<a href="#" class="thumbnail">
				              <%= image_tag ("/assets/stepthree.png") %>
				             </a>
										</div>
              </div>
              <div class="span7">
              	<div class="media-body">
				                <h3 class="media-heading">Step Three</h3>
				                <h4 class="media-heading">Iterate & Improve</h4>
				                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				              </div>
              </div>
      </div>
		</div><!-- features -->
	</div><!-- container -->
</section>



<section>
	<div class="container">
		<div class="features">
			<h1 class="features_heading">Features and Benifits</h1>

				<div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/text.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Custom look and feel</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/ab_testing.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">A/B Testing</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->


	            <div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/statistic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Statistic</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/rss.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">RSS and Twitter Feeds</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->

		</div><!-- features -->
	</div><!-- container -->

</section>


<section>
	<div class="container">
		<div class="features">
			<h1 class="features_heading">People Who Benifit From Fizzy Bar</h1>

				<div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Custom look and feel</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">A/B Testing</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->


	            <div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Statistic</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">RSS and Twitter Feeds</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->

		</div><!-- features -->
	</div><!-- container -->

</section>


		</div><!-- span12 -->
	</div><!-- row -->
</div><!-- container -->

