<div class="container">
	<div class="row">
		<div class="span12">
		<!-- slider start -->
	<section>
			<div class="bs-docs-example">
              <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                  	<%= image_tag ("/assets/bootstrap-mdo-sfmoma-01.jpg") %>
                    <div class="carousel-caption">
                      <h4>First Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item">
                  	<%= image_tag ("/assets/bootstrap-mdo-sfmoma-02.jpg") %>
                    
                    <div class="carousel-caption">
                      <h4>Second Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item">
                  	<%= image_tag ("/assets/bootstrap-mdo-sfmoma-03.jpg") %>
                    
                    <div class="carousel-caption">
                      <h4>Third Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>
            </div>
    </section>
		<!-- slider end -->
<section>
	<div class="container">
		<div class="wlcm_txt_wrapper">
			<h1 class="heading_padding">Welcome to Fizzy Bar !</h1>
			<p class="wlcm_txt_deatils">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
			</p>
		</div>
	</div><!-- container -->
</section>
	

<section>
	<div class="container">
		<div class="features">
			<h1 class="features_heading">Welcome to Fizzy Bar !</h1>

				<div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/download.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading">Custom look and feel</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/download.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading">Custom look and feel</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->


	            <div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/download.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading">Custom look and feel</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/download.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading">Custom look and feel</h4>
		                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->

		</div><!-- features -->
	</div><!-- container -->

</section>
		</div><!-- span12 -->
	</div><!-- row -->
</div><!-- container -->
