<%= javascript_tag "showJBar()" %>

<div class="container">
	<div class="row">
		<div class="span10 ">
			
	<%#= image_tag ("/assets/home-page-image.png") %>

<section>
<div class="container container_width">
	<div class="features">
	<h1 class="features_heading">How it works ?</h1>

	<div class="homeimg_wrapper">
		<%= image_tag ("/assets/stepone.png") %>
	</div>
	<div class="homeimg_wrapper">
		<%= image_tag ("/assets/four.png") %>
	</div>
	<div class="homeimg_wrapper">
		<%= image_tag ("/assets/stepthree.png") %>
	</div>
<!-- first start -->
	<div class="homeimg_wrapper homeimg_content">
		<!-- <h3 class="media-heading">Step One</h3> -->
		<h4 class="media-heading">Create and craft Your Fizzy Bar</h4>
			<p>
			Our visual editor makes creating a Fizzy Bar dead simple.</p>
	</div>

<!-- second start -->

	<div class="homeimg_wrapper homeimg_content">
		<!-- <h3 class="media-heading">Step One</h3> -->
		<h4 class="media-heading">Embed your code</h4>
			<p>Fizzy Bar uses a simple javascript snippet that is placed in your BODY.</p>
	</div>

<!-- third start -->

	<div class="homeimg_wrapper homeimg_content">
		<!-- <h3 class="media-heading">Step One</h3> -->
		<h4 class="media-heading">Iterate & Improve</h4>
			<p>Our visual editor makes creating a Fizzy Bar dead simple.</p>
	</div>


<!-- first end -->

	<br style="clear:both;" >
	</div><!-- features -->
</div>
</section>




<section>
	<div class="container container_width">
		<div class="features">
			<h1 class="features_heading">Features and Benifits</h1>

				<div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/text.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Custom look and feel</h4>
		                Endless color and font combinations with awesome textures to make your bar stand out. Save your favorite combos for quick access later.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/ab_testing.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">A/B Testing</h4>
		                Optimize your results by testing multiple messages and styles. We'll email you the results so you can pick a winner or keep testing.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->


	            <div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/statistic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Statistic</h4>
		                Analyze clicks, views and overall click-through rate with your stats panel. View your performance over time with custom date ranges.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/rss.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">RSS and Twitter Feeds</h4>
		                Set it and forget it! Add your RSS or Twitter feed to your Hello Bar and it will dynamically update with your social content.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->

		</div><!-- features -->
	</div><!-- container -->

</section>


<section>
	<div class="container container_width">
		<div class="features">
			<h1 class="features_heading">People Who Benifit From Fizzy Bar</h1>

				<div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Sell More Products</h4>
		                Fizzy Bar promotes all things Lean Startup including news and events.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Grow Your Newsletter</h4>
		                Fizzy Bar promotes all things Lean Startup including news and events.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->


	            <div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Start a Movement</h4>
		                Fizzy Bar promotes all things Lean Startup including news and events.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Promote Your Brand</h4>
		                Fizzy Bar promotes all things Lean Startup including news and events.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->

		</div><!-- features -->
	</div><!-- container -->

</section>

<section>
	<div class="container container_width">
		<div class="features">
			<h1 class="text_center">Get More Click-throughs Today</h1>
			<div>
				<%= link_to "Sign Up" ,new_user_registration_path , :class => "btn btn-info btm_signup" %>
			</div>

		</div><!-- features -->
	</div><!-- container container_width -->

</section>

		</div><!-- span12 -->
	</div><!-- row -->
</div><!-- container -->

