<div class="container">
	<div class="row">
		<div class="span12">
			<section>
	<div class="container">
		<div class="wlcm_txt_wrapper">
			<h1 class="heading_padding">Welcome to Fizzy Bar !</h1>
			<p class="wlcm_txt_deatils">
				Direct Your Visitors and promote your website’s most important content
			</p>
		</div>
	</div><!-- container -->
</section>
	<%= image_tag ("/assets/home-page-image.png") %>
<section>
	<div class="container">
		<div class="wlcm_txt_wrapper">
			<h1 class="heading_padding">Welcome to Fizzy Bar !</h1>
			<p class="wlcm_txt_deatils">
				Direct Your Visitors and promote your website’s most important content
			</p>
		</div>
	</div><!-- container -->
</section>
	

	<section>
	<div class="container">
		<div class="features">
			<h1 class="features_heading">How it works</h1>
			<div class="row show-grid">
              <div class="span4">
              	<div class="thumbnail">
										<a href="#" class="thumbnail">
				              <%= image_tag ("/assets/stepone.png") %>
				             </a>
										</div>
              </div>
              <div class="span7">
              	<div class="media-body">
				                <h3 class="media-heading">Step One</h3>
				                <h4 class="media-heading">Create and craft Your Fizzy Bar</h4>
				                Our visual editor makes creating a Fizzy Bar dead simple. First add your message and call-to-action. Then make it unique by editing the appearance. You can change colors, fonts and even textures (or choose from our default themes). Once you have a style you like, save it as your own theme for quick access later.
				              </div>
              </div>
      </div>
		</div><!-- features -->
	</div><!-- container -->
</section>



<section>
	<div class="container">
		<div class="features">
			
			<div class="row show-grid">
              <div class="span4">
              	<div class="thumbnail">
										<a href="#" class="thumbnail">
				              <%= image_tag ("/assets/four.png") %>
				             </a>
										</div>
              </div>
              <div class="span7">
              	<div class="media-body">
				                <h3 class="media-heading">Step Two</h3>
				                <h4 class="media-heading">Embed your code</h4>
				                Fizzy Bar uses a simple javascript snippet that is placed in your BODY. Once it's there you never have to touch it again. You can modify your Fizzy Bar at any time with the visual editor.
				              </div>
              </div>
      </div>
		</div><!-- features -->
	</div><!-- container -->
</section>



<section>
	<div class="container">
		<div class="features">
			
			<div class="row show-grid">
              <div class="span4">
              	<div class="thumbnail">
										<a href="#" class="thumbnail">
				              <%= image_tag ("/assets/stepthree.png") %>
				             </a>
										</div>
              </div>
              <div class="span7">
              	<div class="media-body">
				                <h3 class="media-heading">Step Three</h3>
				                <h4 class="media-heading">Iterate & Improve</h4>
				                Once your Fizzy Bar is live - the real fun begins! Monitor your stats with our detailed stats page. View click-through rate, clicks and views by custom date ranges. See what messages and colors caused your clicks to spike or drop
				              </div>
              </div>
      </div>
		</div><!-- features -->
	</div><!-- container -->
</section>



<section>
	<div class="container">
		<div class="features">
			<h1 class="features_heading">Features and Benifits</h1>

				<div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/text.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Custom look and feel</h4>
		                Endless color and font combinations with awesome textures to make your bar stand out. Save your favorite combos for quick access later.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/ab_testing.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">A/B Testing</h4>
		                Optimize your results by testing multiple messages and styles. We'll email you the results so you can pick a winner or keep testing.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->


	            <div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/statistic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Statistic</h4>
		                Analyze clicks, views and overall click-through rate with your stats panel. View your performance over time with custom date ranges.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/rss.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">RSS and Twitter Feeds</h4>
		                Set it and forget it! Add your RSS or Twitter feed to your Hello Bar and it will dynamically update with your social content.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->

		</div><!-- features -->
	</div><!-- container -->

</section>


<section>
	<div class="container">
		<div class="features">
			<h1 class="features_heading">People Who Benifit From Fizzy Bar</h1>

				<div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Sell More Products</h4>
		                Fizzy Bar promotes all things Lean Startup including news and events.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Grow Your Newsletter</h4>
		                Fizzy Bar promotes all things Lean Startup including news and events.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->


	            <div class="row-fluid show-grid features_mrgn_btm">
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Start a Movement</h4>
		                Fizzy Bar promotes all things Lean Startup including news and events.
		              </div>
            		</div>
	              </div><!-- span6 -->
	              <div class="span6">
	              	<div class="media">
		            <%=link_to image_tag ("/assets/clientpic.png"), :class => "pull-left" %>
		              <div class="media-body">
		                <h4 class="media-heading heading_fontsize">Promote Your Brand</h4>
		                Fizzy Bar promotes all things Lean Startup including news and events.
		              </div>
            		</div>
	              </div><!-- span6 -->
	            </div><!-- row-fluid show-grid -->

		</div><!-- features -->
	</div><!-- container -->

</section>


		</div><!-- span12 -->
	</div><!-- row -->
</div><!-- container -->

