<!-- footer start -->
<section>
  <footer>
    <div class="container_width">
     
        <div class="ftr_mrgntop">
          <div class="ftr_links_container">
            <h1>Navigator</h1>
            <ul>
              <li><%= link_to "Home", "javascript:void()" %></li>
              <li><%= link_to "About", "javascript:void()" %></li>
              <li><%= link_to "Privacy", "javascript:void()" %></li>
            </ul>

          </div>
          

          <div class="ftr_links_container">
            <h1>Related</h1>
            <ul>
              <li><%= link_to "EmaiList", "http://emaillist.io/", :target => '_blank' %></li>
              <li><%= link_to "LaunchGator", "http://launch.deskgator.com/", :target => '_blank' %></li>
              <li><%= link_to "FizzySoftware", "http://www.fizzysoftware.com/", :target => '_blank' %></li>
            </ul>

          </div>
         
          <%= link_to image_tag("/assets/fizzy.png"), 'http://www.fizzysoftware.com', :class => "footer_logo" %>
          <p class="copyright">Copyright © 2013 <%= link_to "navigator.com", "javascript:void()" %></p>
        </div>
      
    </div>
  </footer>
</section>
<!-- footer end -->
