<!-- footer start -->
<section>
  <footer>
    <div class="container_width">
     
        <div class="ftr_mrgntop">
          <div class="ftr_links">
            <ul class="inline">
              <li><%= link_to raw("COPYRIGHT &#169; 2013"), "#" %></li>
              <li><%= link_to "FAQ", "#" %></li>
              <li><%= link_to "Blog", "#" %></li>
              <li><%= link_to "Terms of use", "#" %></li>
            </ul>

          </div>
          <div class="">

            <%= link_to image_tag("/assets/fizzy.png"), 'http://www.fizzysoftware.com', :class => "footer_logo" %>

          </div>

        </div>
      
    </div>
  </footer>
</section>
<!-- footer end -->
