<div class="image_outer">
	<div class="image_cotainer">
		<div class="cloud_image">
			<div class="image_right">
				<div class="top_signin"><%= link_to "Login", "#" %></div>
			</div>
			<div class="image_content_left">
				<h1>Direct Your Visitors and promote your website’s most important content.</h1>
				<div class="useit_container">
					<div class="useit">Use Tt For...</div>
					<div class="mark"> }</div>
					<div class="image_posts">
						<ul>
							<li><%= link_to "Capturing leads", "#" %></li>
							<li><%= link_to "Promoting blog posts", "#" %></li>
							<li><%= link_to"Selling products", "#" %></li>
							<li><%= link_to "Getting email sign ups", "#" %></li>
							<li><%= link_to "Social media sharing", "#" %></li>
						</ul>

					</div>
				</div>
			</div>
			</div><!-- cloud_image -->
	</div><!-- image_cotainer -->
</div><!-- image_outer -->