<div class="navbar navbar-fixed-top">
  <div class="navbar-inner header_background_color">
    <div class="container">
      <%= link_to "Fizzybar", root_path , :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li> <%= link_to "My Bars", bars_path %></li>

            <!-- <li> <%#= link_to current_user.email, current_user %> </li> -->
            <li> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> </li>
          <% else %>
            <li> <%= link_to "Login", new_user_session_path %> </li>
            <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
            <li> <%#= link_to "Sign in With Facebook", user_omniauth_authorize_path(:facebook), :id => "facebook_sign_in"  %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
