<div class="container">
	<div class="row">
		<div class="span4 offset4 well background_color">
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

				<legend>Please Sign In</legend>
				<%= f.input :email, :required => false, :autofocus => true, input_html: { class: 'span4' }, :placeholder => "Username" %>
				<%= f.input :password, :required => false, :autofocus => true, input_html: { class: 'span4' }, :placeholder => "Password" %>

			<%#= f.input( :remember_me, :as => :boolean, input_html: { class: 'checkbox' }, label_html: { class: 'checkbox' } ) if devise_mapping.rememberable? %>

				<%= f.input :remember_me, :as => :boolean, label: false, :inline_label => 'Remember Me' %>

				<%= f.button :submit, "Sign in", :class => "btn btn-info btn-block" %>

	<% end %>
<%= render "devise/shared/links" %>
		</div>
	</div>
</div>