<!DOCTYPE html>
<html>
<head>
	<title>
		Fizzybar
	</title>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		<![endif]-->
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<%= render partial: 'shared/top_nav_bar' %>

		<div class="container">
			<% flash.each do |name, message|%>
			<div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<%= message %>
			</div>
			<% end %>

			<div class="row">
				<div class="span12"><%= yield %></div>

			</div>
		</div>
		<!-- footer start -->
			<section>
				<footer>
					<div class="container">
						<div class="row-fluid show-grid">
							<div class="span12 ftr_mrgntop">
								<div class="span6">
									<ul class="inline">
										<li><%= link_to raw("COPYRIGHT &#169; 2013"), "#" %></li>
										<li><%= link_to "FAQ", "#" %></li>
										<li><%= link_to "Blog", "#" %></li>
										<li><%= link_to "Terms of use", "#" %></li>
									</ul>

								</div>
								<div class="span6">
									
								<%= link_to image_tag("/assets/fizzy.png"), 'http://www.fizzysoftware.com', :class => "footer_logo" %>

								</div>

							</div>
						</div>
					</div>
				</footer>
			</section>
		<!-- footer end -->

		<%= render 'layouts/javascripts' %>
	</body>
	</html>
